<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        
                        <input type="hidden" id="projectId" value="${projectId}">
                        <input type="hidden" id="configId" value="${configId}">
                        <input type="hidden" id="isOwner" value="${isOwner}">

                        <div class="layui-inline">
                            <label class="layui-form-label">数据库品牌</label>
                            <div class="layui-input-inline">
                                <select name="brandSearch" lay-filter="brandSearch">
                                </select>
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">连接名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="name" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <label class="layui-form-label">库或目录</label>
                            <div class="layui-input-inline">
                                <input type="text" name="schema" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        
                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="datasourceSearchBtn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="datasourceToolbar">
            <div class="layui-btn-container">
                {{#  if(${isOwner}){ }}
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                {{#  } }}
            </div>
        </script>

        <table class="layui-hide" id="datasourceTable" lay-filter="datasourceTable"></table>

        <script type="text/html" id="datasourceTableBar">
            {{#  if(${isOwner}){ }}
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
            {{#  }else{ }}
            <a class="layui-btn layui-btn-xs" lay-event="view">查看</a>
            {{#  } }}
            <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="table">库表</a>

        </script>

    </div>
</div>
<script src="/js/common/convert.js"></script>
<script src="/js/biz/datasource/list.js"></script>