<div class="layuimini-main">

    <div class="layui-form layuimini-form" lay-filter="editForm">

        <input type="hidden" id="reqUrl">
        <input type="hidden" id="reqType">
        <input type="hidden" id="id" name="id" value="${id}">

        <div class="layui-form-item">
            <label class="layui-form-label required">数据库品牌</label>
            <div class="layui-input-inline">
                <select name="brand" lay-filter="brand" lay-verify="required" lay-reqtext="请选择数据库品牌">
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">列类型</label>
            <div class="layui-input-block">
                <input type="text" name="columnType" lay-verify="required" lay-reqtext="列类型不能为空" placeholder="请输入列类型" value="" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/biz/column/edit.js"></script>
<script src="/js/common/save.js"></script>