<div class="layuimini-main">

    <div class="layui-form layuimini-form">

        <input type="hidden" id="reqUrl">
        <input type="hidden" id="reqType">
        <input type="hidden" id="tableName">
        <input type="hidden" id="projectId" name="projectId" value="${projectId}">
        <input type="hidden" id="hasExtend" value="true">

        <div class="layui-form-item">
            <div class="layui-input-block">
                <div id="userSearch"></div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/biz/member/add.js"></script>
<script src="/js/common/save.js"></script>