<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">
        <fieldset class="table-search-fieldset">
            <legend>搜索信息</legend>
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" action="">
                    <div class="layui-form-item">
                        
                        <input type="hidden" id="projectId" value="${projectId}">
                        <input type="hidden" id="configId" value="${configId}">
                        <input type="hidden" id="sourceId" value="${sourceId}">
                        <input type="hidden" id="isOwner" value="${isOwner}">

                        <!--<div class="layui-inline">
                            <label class="layui-form-label">模块</label>
                            <div class="layui-input-inline">
                                <input type="text" name="module" autocomplete="off" class="layui-input">
                            </div>
                        </div>-->

                        <div class="layui-inline">
                            <label class="layui-form-label">表名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="tableName" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-inline">
                            <button type="submit" class="layui-btn layui-btn-primary"  lay-submit lay-filter="dbTableSearchBtn"><i class="layui-icon"></i> 搜 索</button>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <script type="text/html" id="dbTableToolbar">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm data-add-btn" lay-event="genAll"> 生成全部 </button>
                <button class="layui-btn layui-btn-sm data-add-btn" style="background-color:#9873e5" lay-event="genTables"> 生成选中 </button>
                <button class="layui-btn layui-btn-warm layui-btn-sm data-add-btn" lay-event="pull"> 数据同步 </button>
                {{#  if(${isOwner}){ }}
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 添加 </button>
                <button class="layui-btn layui-btn-danger layui-btn-sm data-add-btn" lay-event="delete"> 删除 </button>
                {{#  } }}
            </div>
        </script>

        <table class="layui-hide" id="dbTableTable" lay-filter="dbTableTable"></table>

        <script type="text/html" id="dbTableTableBar">
            {{#  if(${isOwner}){ }}
            <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-xs layui-btn-danger data-count-delete" lay-event="delete">删除</a>
            {{#  }else{ }}
            <a class="layui-btn layui-btn-xs" lay-event="view">查看</a>
            {{#  } }}
            <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="field">字段</a>
            <a class="layui-btn layui-btn-xs" style="background-color:#9873e5" lay-event="preview">预览</a>

        </script>

    </div>
</div>
<script src="/js/common/convert.js"></script>
<script src="/js/biz/table/list.js"></script>