<div class="layuimini-main">

    <div class="layui-form layuimini-form" lay-filter="resetPwdForm">

        <input type="hidden" id="reqUrl">
        <input type="hidden" id="reqType">
        <input type="hidden" id="hasExtend" value="true">
        <input type="hidden" name="userId" value="${userId}">

        <div class="layui-form-item">
            <label class="layui-form-label required">新密码</label>
            <div class="layui-input-block">
                <input type="password" name="newPassword" lay-verify="required" lay-reqtext="新密码不能为空" placeholder="请输入新密码" value="" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label required">确认密码</label>
            <div class="layui-input-block">
                <input type="password" name="confirmPassword" lay-verify="required" lay-reqtext="确认密码不能为空" placeholder="请输入确认密码" value="" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
            </div>
        </div>
    </div>
</div>
<script src="/js/utils/md5.js"></script>
<script src="/js/biz/user/resetPwd.js"></script>
<script src="/js/common/save.js"></script>